<h3>Strategic Planning</h3>
<p>
	Brattli Consulting has performed strategic planning projects for:
	<ul>
		<li>Creating new business lines</li>
		<li>Turning around business lines</li>
		<li>Integrating two business lines</li>
		<li>Developing standard three to five year strategic plans</li>
	</ul>
</p>
<h3>Business Development</h3>
<p>
	Brattli Consulting has developed our own Proposal Response Methodology for pursuing new business.
</p>
<p>
	Clients engaged under one of three scenarios:
	<ul>
		<li>Full engagement
			<ul>
				<li>Engaged at the beginning of the project</li>
				<li>Full control of the proposal response process</li>
			</ul>
		</li>
		<li>An “a la carte” engagement
			<ul>
				<li>Engaged for select tasks</li>
				<li>Do not have take full control of the proposal</li>
			</ul>
		</li>
		<li>Best effort engagements
			<ul>
				<li>Accept proposals significantly behind schedule</li>
				<li>Full control of the proposal response process</li>
			</ul>
		</li>
	</ul>
</p>
<h3>Special Studies</h3>
<p>
	Brattli Consulting has been engaged for:
	<ul>
		<li>Financial and quantitative modeling</li>
		<li>Business improvements and Six Sigma projects</li>
		<li>Competitive analysis and data gathering, including Freedom of Information Act (FOIA) Requests</li>
	</ul>
</p>