<h3>About Us</h3>
<p>
	Brattli Consulting, Inc. focuses on strategic planning, business development, and special projects in financial and quantitative modeling.
</p>
<p>
	Our specialty is business development in the government banking area.  We have developed our own methodology to assist our clients in responding to State, Federal, or International Request for Proposals (RFP).
</p>
<h3>Clients</h3>
<p>
	Brattli Consulting, Inc. clients include:
	<ul>
		<li>Major Banks</li>
		<li>Processing Companies</li>
		<li>Card Associations</li>
		<li>US Federal Government (GSA MOBIS expired in 2008)</li>
	</ul>
</p>
<h3>Projects</h3>
<p>
	We have done select projects for:
	<ul>
		<li>The World Bank (independent consulting engagement)</li>
		<li>US Treasury (sub-contractor)</li>
	</ul>
</p>
<h3>Offices</h3>
<p>
	We have offices in Seattle, WA and Palm Beach Gardens, FL.
</p>
