<p>Ms. Brattli is the President and founder of Brattli Consulting, Inc.  She has over 20 years of consulting experience.</p>

<img src="../Content/Images/loreen.jpg" alt="" />

<h3>Experience</h3>
<ul>
	<li>Brattli Consulting—Founded Brattli Consulting in 1995.
		<ul>
			<li>Sells projects, manages staff, and interacts with  clients.</li>
			<li>Interfaces with clients and subcontractors.</li>
			<li>Manages large consulting projects.</li>
		</ul>
	</li>
	<li>Government Contractor—Treasury Sales Officer</li>
	<li>Ernst & Young Management Consulting—Manager</li>
</ul>

<h3>Education</h3>
<ul>
	<li>MBA Columbia University, New York, NY</li>
	<li>MBA London Business School, London, England</li>
	<li>BA in Business Administration, University of Washington, Seattle, WA</li>
</ul>

<h3>Other</h3>
<ul>
	<li>Ms. Brattli has held a security clearance with the U.S. Department of the Treasury.</li>
	<li>Ms. Brattli created a business development class, "Proposals that Win Big" which she taught at Emory University in the evening program.</li>
	<li>Ms. Brattli developed and delivered a customized three day business development training class, "Rewards Follows Preparations (RFP):  Preparing a Winning Bid", delivered to a major client.</li>
</ul>