<p>Mr. Brattli is the Treasurer of Brattli Consulting, Inc.  He has 18 years of consulting experience.</p>

<h3>Experience</h3>
<ul>
	<li>Brattli Consulting—joined in 1996
	<ul>
		<li>Negotiates master contracts, SOWs, and pricing with clients and subcontractors.</li>
		<li>Manages SOW and budget for our projects.</li>
		<li>Actively participates in Brattli Consulting projects.</li>
		<li>Assists clients in pricing reviews.</li>
	</ul>
	<li>PriceWaterhouseCooper—Principal Consultant in the Office of Government Services Group in Corporate Finance and Quantitative Methods domains.</li>
	<li>Consultant to the Department of Energy—Audited statistical models.</li>
	<li>The King of Norway's Royal Guards—Managed a combat team and guard duties.</li>
</ul>

<h3>Education</h3>
<ul>
	<li>MBA in Finance and Investments, The George Washington University, Washington, DC.</li>
	<li>BS concentration in Economics, University of Oslo, Norway</li>
	<li>Six Sigma Greenbelt, University of Michigan</li>
	<li>Certified Treasury Professional (CTP), Association for Finance Professionals</li>
	<li>Chartered Financial Analyst (CFA) charter holder, CFA Institute</li>
</ul>

<h3>Other</h3>
<ul>
	<li>Mr. Brattli has held security clearances with the U.S. Department of the Treasury, Department of Energy, NASA, U.S. Postal Service, and the World Bank Group.</li>
	<li>Mr. Brattli has provided oral and written expert testimonies on behalf of the U.S. federal government before a regulatory commission on financial modeling of over $3.2 billion of annual cost.</li>
</ul>

