<div class="thumbnail box-shadow">
	<h3>Large Bank—New Business Line Development</h3>
	<p>
		Brattli Consulting was asked by a large bank to help create On-Line shopping as a new business line.  Brattli Consulting:
		<ul>
			<li>Co-authored an Investment Package for executive management.</li>
			<li>Helped select a subcontractor to operate the shopping portal.</li>
			<li>Determined the primary target market as purchase card clients as this would eliminate interchange fees.</li>
			<li>Prepared multiple sales presentations.</li>
			<li>Managed four RFP responses securing $200 million in revenue.</li>
			<li>Assisted in developing an internal client sales group.</li>
		</ul>
		On-Line Shopping was established as a separate business line.  It was later spun off.
	</p>
</div>

<div class="thumbnail box-shadow">
	<h3>Large Bank—Business Line Turnaround</h3>
	<p>
		Brattli Consulting was asked to assist in turning around a Banking Business Line.  Over a three year period, we:
		<ul>
			<li>Prepared the strategic plan detailing the turnaround approach.</li>
			<li>Researched the market, competitors, and client’s approach.</li>
			<li>Benchmarked the client in relationship to their competitors.</li>
			<li>Identified markets yielding the most increase in revenue growth.</li>
			<li>Responded to large revenue bids, winning four out of five.</li>
			<li>Developed standards for general market and competitor analysis; evaluating, responding, and pricing the bid responses.  Presented the standards in “The Deal Manager’s Desk Guide”.</li>
			<li>Trained the client’s internal bid response group in the Brattli Consulting proposal response methodology.</li>
		</ul>
		The business line revenue grew 47 and 30 percent, respectively in years one and two.
	</p>
	<p>In year three, after the Brattli Consulting training class, the client bid group doubled their win ratio.</p>
</div>

<div class="thumbnail box-shadow">
	<h3>Large bank—Business Development</h3>
	<p>
		Brattli Consulting assisted a large financial institution and a major payment processor in winning and implementing an electronic Federal tax payment system for the Federal Government.
	</p>
	<p>
		Brattli Consulting was involved with the project from over a period of several years.  Engagements included:
		<ul>
			<li>Developing the proposal strategy and managing the original proposal response.</li>
			<li>Working with subject matter experts to write the technical, financial, and performance sections, compliance and milestone tracking, and final production.</li>
		</ul>
	</p>
	<p>
		After contract award, Brattli Consulting assisted clients with:
		<ul>
			<li>Project implementation.  We prepared presentations, marketing information, press releases, and training materials.</li>
			<li>Users Manual documentation for the system.</li>
			<li>Quality assurance of a data query system and a help line.</li>
			<li>Prepared training materials and conducted training for government users of the query system.</li>
			<li>Wrote a strategy paper regarding how to increase system enrollment.</li>
			<li>Wrote a White Paper after our client was re-awarded the contract.</li>
		</ul>
	</p>
</div>

<div class="thumbnail box-shadow">
	<h3>Large Bank—Business Development</h3>
	<p>
		Brattli Consulting assisted a large financial institution in winning a major government credit card program. The engagement lasted several years.  Individual Brattli Consulting projects included:
		<ul>
			<li>Managing, writing, and producing our client’s winning response to the Master Contract.</li>
			<li>Preparing over 100 customized task order sales presentations for individual agencies.</li>
			<li>Preparing training materials for each of the 43 won agencies.</li>
			<li> Managing communication between our client and the government.  We developed and managed on-point reporting that ensured compliance in providing accurate answers to government questions throughout the task order-query process.</li>
			<li>Supporting program manager in contract compliance and in communicating with the GSA and the 43 agencies served.</li>
		</ul>
		Our client was awarded 43 federal agencies, a total of 40 percent of the dollar volume, and issued 1.4 million of the total 2.1 million cards.
	</p>
	<p>Brattli Consulting was asked to manage the rebid of the contract, eight years after the original contract signing.</p>
</div>

<div class="thumbnail box-shadow">
	<h3>Large Canadian Bank—Business Development</h3>
	<p>
		Brattli Consulting was engaged to secure a foreign banking contract for the Canadian government’s pension payments.  We:
		<ul>
			<li>Managed the entire proposal effort including proposal strategy; working with subject matter experts to write the technical, and performance sections; compliance and milestone tracking; and production.</li>
			<li>The project involved customizing the existing technical solution to meet distinct RFP requirements.</li>
		</ul>
		The proposal won, securing our client one of the largest Canada government contracts.
	</p>
	<p>Five years after the original contract signing, the contract was up for re-bid and Brattli Consulting was fully engaged to secure the re-bid.  Our client won the re-bid contract.</p>
</div>

<div class="thumbnail box-shadow">
	<h3>Large Payment Processor—Business Development</h3>
	<p>
		Brattli Consulting was engaged to secure a contract for a large payment processor.  We:
		<ul>
			<li>Created management tools and used the tools to create a compliant response.</li>
			<li>Reviewed the RFP and assisted in drafting questions to the RFP issuer.  We assessed the answer’s impact on our response.</li>
			<li>Performed a compliance review of the proposal lay out.  We restructured the response in accordance to the RFP requirements.</li>
			<li>Worked directly with the project manager and the client team to draft and rework the entire response.</li>
			<li> Participated in two separate reviews and assisted the client in writing the final draft response.</li>
		</ul>
	</p>
</div>

<div class="thumbnail box-shadow">
	<h3>Large Bank—Business Development and Implementation</h3>
	<p>
		Brattli Consulting was engaged to secure a contract for a large bank.  We:
		<ul>
			<li>Managed the RFP process from beginning to end.</li>
			<li>Developed a proposal strategy deciding how to respond given the competitive landscape and unique requirements.</li>
			<li>Created a Win Model which became the fundamental tool in developing a pricing strategy.  The Win Model also identified the must win technical areas.</li>
			<li>Worked with subject matter experts to write the response.</li>
			<li>After the win, Brattli Consulting was asked to help implement the solution.</li>
		</ul>
		For every $1 spend on Brattli Consulting the client had a net return of about $2,000.  A client executive claimed that the money spent on Brattli Consulting was the best spent money ever.
	</p>
</div>

<div class="thumbnail box-shadow">
	<h3>Multiple Clients—Competitive Information</h3>
	<p>
		Brattli Consulting has assisted clients with gathering competitive information through:
		<ul>
			<li>Requesting documents available through the Freedom of Information Act (FOIA).</li>
			<li>Researching procurement documents and press releases on-line.</li>
			<li>Attending trade seminars and user group meetings.</li>
			<li>Speaking with government and industry experts.</li>
		</ul>
		For a better understanding of our Competitive Information methodology, please contact us for a free copy of the article “Pricing for Profit:  The Yield of Competitive Information”, published in the Competitive Intelligence Magazine, July-August 2005.
	</p>
</div>

