<p>The following are unedited client quotes:</p>

<div class="row">
	<div class="col-xs-6 col-md-4">
		<blockquote class="thumbnail quote">
			Thanks again for EVERYTHING you and Loreen did for the bank on this deal we owe you one, or two!
		</blockquote>

		<blockquote class="thumbnail quote">
			Thank you both for all your help!  I don’t think it would have come together as it did without your expertise, guidance and input.
		</blockquote>

		<blockquote class="thumbnail quote">
			The Brattli team is top drawer and we value your insight and sincerely appreciate all that you are doing.
		</blockquote>

		<blockquote class="thumbnail quote">
			You and the team were amazing.  Many thanks.
		</blockquote>

		<blockquote class="thumbnail quote">
			Our sincere thanks to each of you for all of the expert guidance and assistance.  The entire team did great.
		</blockquote>

		<blockquote class="thumbnail quote">
			Dear Oystein and Loreen, it was a pleasure working with you both.  I am convinced that your involvement and experience have strengthened our bid and put us in serious contention to win.  We will definitely let you know of the results of the bid. [bid won].
		</blockquote>

			<blockquote class="thumbnail quote">
				Brattli Consulting is the easiest company I have dealt with.
			</blockquote>

			<blockquote class="thumbnail quote">
				Congratulations on turning this around so quickly!  Very Impressive.
			</blockquote>
	</div>

	<div class="col-xs-6 col-md-4">
		<blockquote class="thumbnail quote">
			I really appreciated working with you and Loreen.  It was a great opportunity to learn from your experience and validate a lot of the same processes, challenges, and successes in the world of procurement!
		</blockquote>

		<blockquote class="thumbnail quote">
			Congratulations [bid won].  Looking forward to winning more business with you.
		</blockquote>

		<blockquote class="thumbnail quote">
			We certainly appreciate your commitment to your customers and your loyalty that went "above and beyond.  It will be a pleasure to work with you both again.
		</blockquote>

		<blockquote class="thumbnail quote">
			FMS [US Treasury] told us that our response was by far the most comprehensive, and best written.
		</blockquote>

		<blockquote class="thumbnail quote">
			You are my special forces.  When my army gets stuck, I call Brattli Consulting to take care of the problem.
		</blockquote>

		<blockquote class="thumbnail quote">
			You and Loreen are the most productive people I have ever met.
		</blockquote>

		<blockquote class="thumbnail quote">
			I want to say thank you for the biggest win in my career.
		</blockquote>

		<blockquote class="thumbnail quote">
			You guys are confident, capable, and committed.
		</blockquote>

		<blockquote class="thumbnail quote">
			The money spent on Brattli Consulting is the best investment ever.
		</blockquote>
	</div>
</div>