<p>The following are unedited client quotes:</p>

<div class="thumbnail quote col-xs-6 col-md-4">
	Thanks again for EVERYTHING you and Loreen did for the bank on this deal we owe you one, or two!
</div>

<div class="thumbnail quote col-xs-6 col-md-4">
	Thank you both for all your help!  I don’t think it would have come together as it did without your expertise, guidance and input.
</div>

<div class="thumbnail quote col-xs-6 col-md-4">
	The Brattli team is top drawer and we value your insight and sincerely appreciate all that you are doing.
</div>

<div class="thumbnail quote col-xs-6 col-md-4">
	You and the team were amazing.  Many thanks.
</div>

<div class="thumbnail quote col-xs-6 col-md-4">
	Our sincere thanks to each of you for all of the expert guidance and assistance.  The entire team did great.
</div>

<div class="thumbnail quote col-xs-6 col-md-4">
	Dear Oystein and Loreen, it was a pleasure working with you both.  I am convinced that your involvement and experience have strengthened our bid and put us in serious contention to win.  We will definitely let you know of the results of the bid. [bid won].
</div>

<div class="thumbnail quote col-xs-6 col-md-4">
	Brattli Consulting is the easiest company I have dealt with.
</div>

<div class="thumbnail quote col-xs-6 col-md-4">
	Congratulations on turning this around so quickly!  Very Impressive.
</div>

<div class="thumbnail quote col-xs-6 col-md-4">
	I really appreciated working with you and Loreen.  It was a great opportunity to learn from your experience and validate a lot of the same processes, challenges, and successes in the world of procurement!
</div>

<div class="thumbnail quote col-xs-6 col-md-4">
	Congratulations [bid won].  Looking forward to winning more business with you.
</div>

<div class="thumbnail quote col-xs-6 col-md-4">
	We certainly appreciate your commitment to your customers and your loyalty that went "above and beyond.  It will be a pleasure to work with you both again.
</div>

<div class="thumbnail quote col-xs-6 col-md-4">
	FMS [US Treasury] told us that our response was by far the most comprehensive, and best written.
</div>

<div class="thumbnail quote col-xs-6 col-md-4">
	You are my special forces.  When my army gets stuck, I call Brattli Consulting to take care of the problem.
</div>

<div class="thumbnail quote col-xs-6 col-md-4">
	You and Loreen are the most productive people I have ever met.
</div>

<div class="thumbnail quote col-xs-6 col-md-4">
	I want to say thank you for the biggest win in my career.
</div>

<div class="thumbnail quote col-xs-6 col-md-4">
	You guys are confident, capable, and committed.
</div>

<div class="thumbnail quote col-xs-6 col-md-4">
	The money spent on Brattli Consulting is the best investment ever.
</div>
